<div class="limitWidth">
      <div class="panel panel-primary panel-xs">
            <div class="panel-heading">
                  <h4>{{car.CarType.Producer}} {{car.CarType.Model}} {{car.CarType.ManufacturingYear}}  {{car.CarType.Gear}} </h4>
            </div>
            <div class="panel-body">
                  <ul >
                        <li>Daily Price:{{car.CarType.DailyCost}} </li>
                        <li>Daily Late Return Penalty:{{car.CarType.DailyPenaltyFee}} </li>
                  </ul>
                  <h5>Available on branch:{{car.Branch.BranchName}}</h5>
                  <h5>Address: {{car.Branch.Address}}</h5>
                  <h6><span class="glyphicon glyphicon-map-marker"></span> {{car.Branch.Coordinates.Latitude}}°
                        {{car.Branch.Coordinates.LatitudeMinutes}}'
                        {{car.Branch.Coordinates.IsNorth?"N":"S"}}&nbsp;
                        {{car.Branch.Coordinates.Longitude}}°
                        {{car.Branch.Coordinates.LongitudeMinutes}}'
                        {{car.Branch.Coordinates.IsEast?"E":"W"}}</h6>
                  <div class="imgDiv">
                  <img [src]="car.CarPhoto" />
            </div>
            </div>
            <div class="panel-footer">
                  <button *ngIf="showButtons"  (click)="OnCarPriceCalcClicked();">Calculate Price</button>
                  <button *ngIf="showButtons" (click)="OnCarOrderClicked();">Order</button>
            </div>
      </div>
</div>